<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".pf" mimeType="vector/vnd.svf" />
            <mimeMap fileExtension=".pack" mimeType="vector/vnd.svf" />
        </staticContent>
    </system.webServer>
</configuration>
